# Log Levels
# CONFIG_LOG_DEFAULT_LEVEL_INFO=y # (default: info)
# CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y (default: info)
# CONFIG_BT_NIMBLE_LOG_LEVEL_INFO=y (default: info)
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_INFO=y # (default: error)
CONFIG_CHIP_LOG_DEFAULT_LEVEL_ERROR=y # (default: progress)

# Console Configuration
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Flash Configuration
CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="config/partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xC000
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Arduino Configuration
CONFIG_FREERTOS_HZ=1000
CONFIG_AUTOSTART_ARDUINO=y
CONFIG_ARDUHAL_LOG_COLORS=y

# Matter Configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_CHIP_PROJECT_CONFIG="config/chip_project_config.h"
CONFIG_ENABLE_OTA_REQUESTOR=n
CONFIG_ESP_MATTER_NVS_USE_COMPACT_ATTR_STORAGE=y
CONFIG_ESP_SECURE_CERT_DS_PERIPHERAL=n
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_MBEDTLS_PSK_MODES=y
